<h1> Login account!! </h1>
<form action="<%= session_url %>" method="post">

<label>Username: </label>
<input type="text" name="user[user_name]">
<br>
<label for="password">Password: </label>
<input id="password" type="password" name="user[password]">
<br>
<label for="submit">Submit</label>
<br>
<input type="submit" value="banana">

</form>






